<%= form_with(model: project, local: true) do |form| %>

  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="card-body">
    <table>
      <tbody>
        <tr>
          <td><%= form.label :title %></td>
        </tr>
        <tr>
          <td><%= form.text_field :title %></td>
        <tr>
          <td><%= form.label :description %></td>
        </tr>
        <tr> 
          <td><%= form.text_area :description %></td>
        </tr>
        <tr>
          <td><%= form.submit %><td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<% end %>
